# Dependencias
node_modules/
*/node_modules/
npm-debug.log*

# Secretos y variables de entorno
.env
.env.local
*/.env
*/.env.local

# Compilaciones y temporales
dist/
*/dist/
.quasar/
*/.quasar/
tmp/
*/tmp/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
